services:
    nginx:
        image: nginx:1.25
        container_name: nginx
        ports:
            - "${NGINX_HTTP_PORT:-80}:80"
        volumes:
            - ./ansible/templates/nginx.local.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - arcana

    arcana:
        container_name: arcana
        build:
            context: .
            dockerfile: ansible/templates/Dockerfile
            args:
                XDEBUG: 1
        environment:
            - APP_ENV=local
            - XDEBUG_MODE=debug
            - XDEBUG_CONFIG=client_host=host.docker.internal
            - PHP_IDE_CONFIG=serverName=arcana
        expose:
            - "${PHP_FPM_PORT:-9000}"
        volumes:
            - .:/var/www/html
            - ./ansible/templates/local_php.ini:/usr/local/etc/php/conf.d/99-php.ini
            - ./ansible/templates/local_php.ini:/usr/local/etc/php-fpm.d/99-php.ini

    postgres:
        image: postgres:17.6
        container_name: postgres
        environment:
            POSTGRES_USER: ${DB_USERNAME:-arcana}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-arcana}
            POSTGRES_DB: ${DB_DATABASE:-arcana}
        ports:
            - "${DB_FORWARD_PORT:-5432}:5432"
        volumes:
            - arcana-pgsql:/var/lib/postgresql/data

volumes:
    arcana-pgsql:
        driver: local


